<main>
  <header>Our Blog & Articles</header>
  <p>
    We consider all the drivers of change gives you the components you need to
    change to create a truly happens.
  </p>
    <div class="containers">
      <div class="notmain-section">
        <img src="./images/pages-imgs/1.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>How to prepare a delicious gluten free sushi</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/2.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>Exclusive baking lessons from the pastry king</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/3.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>How to prepare the perfect french fries in an air fryer</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/4.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>How to prepare delicious chicken tenders</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/5.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>5 great cooking gadgets you can buy to save time</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/6.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>The secret tips & tricks to prepare a perfect burger</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/7.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>7 delicious cheesecake recipes you can prepare</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/8.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>5 great pizza restaurants you should visit this city</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/9.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>How to prepare the perfect snakes in an air fryer</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/10.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>How to prepare delicious chicken tenders</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/11.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>7 delicious cheesecake recipes you can prepare</h5>
        </div>
      </div>
      <div class="notmain-section">
        <img src="./images/pages-imgs/12.png" alt="" />
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5>Top 20 simple and quick desserts for kids</h5>
        </div>
      </div>
    </div>
</main>
