<div class="third-main">
    <div>
      <img class="imagee" src="./images/about.png" alt="" srcset="" />
    </div>
    <div class="information">
      <header>We provide healthy for your family</header>
      <p>
        Our story began with a vision to create a unique dining experience that
        merges fine dining, exceptional service, and a vibrant ambiance. Rooted in
        city's rich culinary culture, we aim to honor our local roots while
        infusing a global palate.
      </p>
      <p class="d">
        At place, we believe that dining is not just about food, but also about
        the overall experience. Our staff, renowned for their warmth and
        dedication, strives to make every visit an unforgettable event.
      </p>
    </div>
  </div>

  <!-- ///////////////////////////////////////////////////////////////////////////// -->

  <div class="sec-about">
    <img src="./images/content.png" alt="" srcset="">
    <div class="things">
        <section class="icons">
            <img class="icon" src="./images/restaurant-menu1.png" alt="" srcset="">
            <div class="infos">
                <header>Multi Cuisine</header>
                <p>In the new era of technology we look in the future with certainty life.</p>
            </div>
        </section>
        <section class="icons">
            <img class="icon" src="./images/Icon.png" alt="" srcset="">
            <div class="infos">
                <header>Easy To Order</header>
                <p>In the new era of technology we look in the future with certainty life.</p>
            </div>
        </section>
        <section class="icons">
            <img class="icon" src="./images/timer1.png" alt="" srcset="">
            <div class="infos">
                <header>Fast Delivery</header>
                <p>In the new era of technology we look in the future with certainty life.</p>
            </div>
        </section>
    </div>
  </div>

  <!-- ///////////////////////////////////////////////////////////////////////////// -->

  <div class="third-about">
    <div class="talks">
        <header>A little information for our valuable guest</header>
        <p>At place, we believe that dining is not just about food, but also about the overall experience.
            Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
        <div class="sections">
            <section>
                <h2>3</h2>
                <h3>Locations</h3>
            </section>
            <section>
                <h2>1995</h2>
                <h3>Founded</h3>
            </section>
            <section>
                <h2>65+</h2>
                <h3>Staff Members</h3>
            </section>
            <section>
                <h2>100%</h2>
                <h3>Satisfied Customers</h3>
            </section>
        </div>
    </div>
    <img src="./images/vegitables.png" alt="">
  </div>


  <!-- ///////////////////////////////////////////////////////////////////////////// -->

  
<div class="six-main">
    <header>What Our Customers Say</header>
    <div class="opinions">
      <section class="talk">
        <h2>“The best restaurant”</h2>
        <p>
          Last night, we dined at place and were simply blown away. From the
          moment we stepped in, we were enveloped in an inviting atmosphere and
          greeted with warm smiles.
        </p>
        <hr />
        <div class="sora">
          <img style="width: 70px" src="./images/sop.png" alt="" srcset="" />
          <div>
            <h3 style="color: #2c2f24">Sophire Robson</h3>
            <h5 style="color: #414536">Los Angeles, CA</h5>
          </div>
        </div>
      </section>
      <section class="talk">
        <h2>“Simply delicious”</h2>
        <p>
          Place exceeded my expectations on all fronts. The ambiance was cozy and
          relaxed, making it a perfect venue for our anniversary dinner. Each dish
          was prepared and beautifully presented.
        </p>
        <hr />
        <div class="sora">
          <img style="width: 70px" src="./images/matt.png" alt="" srcset="" />
          <div>
            <h3 style="color: #2c2f24">Matt Cannon</h3>
            <h5 style="color: #414536">San Diego, CA</h5>
          </div>
        </div>
      </section>
      <section class="talk">
        <h2>“One of a kind restaurant”</h2>
        <p>
          The culinary experience at place is first to none. The atmosphere is
          vibrant, the food - nothing short of extraordinary. The food was the
          highlight of our evening. Highly recommended.
        </p>
        <hr />
        <div class="sora">
          <img style="width: 70px" src="./images/andy.png" alt="" srcset="" />
          <div>
            <h3 style="color: #2c2f24" >Andy Smith</h3>
            <h5 style="color: #414536">San Francisco, CA</h5>
          </div>
        </div>
      </section>
    </div>
  </div>