<main>
  <div class="infos">
    <header>Our Menu</header>
    <p>
      We consider all the drivers of change gives you the components you need to
      change to create a truly happens.
    </p>


    <div class="items-menu">
      <div class="buttons">
        <a class="link" href="">All</a>
        <a class="link" href="">Breackfast</a>
        <a class="link" href="">Main dishes</a>
        <a class="link" href="">Drinks</a>
        <a class="link" href="">Desserts</a>
      </div>
      <div class="items">
        <section>
          <img src="./images/eggs.png" alt="" />
          <h2 class="price">$ 9.99</h2>
          <h2 class="name">Fried Eggs</h2>
          <p class="description">
            Made with eggs, lettuce, salt, oil and other ingredients.
          </p>
        </section>
        <section>
          <img src="./images/pizza.png" alt="" />
          <h2 class="price">$ 15.99</h2>
          <h2 class="name">Hawaiian Pizza</h2>
          <p class="description">
            Made with eggs, lettuce, salt, oil and other ingredients.
          </p>
        </section>
        <section>
          <img src="./images/juice.png" alt="" />
          <h2 class="price">$ 7.25</h2>
          <h2 class="name">Martinez Cocktail</h2>
          <p class="description">
            Made with eggs, lettuce, salt, oil and other ingredients.
          </p>
        </section>
      </div>
    </div>
  </div>
</main>




<div class="logos">
    <div class="info">
        <header>You can order through apps</header>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit enim bibendum sed et aliquet aliquet risus tempor semper.</p>
    </div>

    
    <div class="photos">
        <a href="https://www.ubereats.com/" target="_blank" class="visit-links">
            <img src="./images/uber.png"   class="social-logo">
        </a>
        <a href="https://www.grubhub.com/" target="_blank" class="visit-links">
            <img src="./images/grubhub.png"   class="social-logo">
        </a>
        <a href="https://postmates.com/" target="_blank" class="visit-links">
            <img src="./images/postmakes.png"   class="social-logo">
        </a>
        <a href="https://www.foodpanda.com/" target="_blank"class="visit-links" >
            <img src="./images/door.png"   class="social-logo">
        </a>
        <a href="https://www.foodpanda.com/" target="_blank"class="visit-links" >
            <img src="./images/panda.png"   class="social-logo">
        </a>
        <a href="https://deliveroo.co.uk/" target="_blank" class="visit-links">
            <img src="./images/deliveroo.png"   class="social-logo">
        </a>
        <a href="https://www.instacart.com/" target="_blank"class="visit-links">
            <img src="./images/instacart.png"   class="social-logo">
        </a>
        <a href="https://www.just-eat.co.uk/takeaway" target="_blank"class="visit-links">
            <img src="./images/justeat.png"   class="social-logo">
        </a>
        <a href="https://www.didi-food.com/en-US" target="_blank" class="visit-links">
            <img src="./images/didi.png"   class="social-logo">
        </a>
    </div>
</div>