<main>
  <div class="info">
    <h3>Best food for</h3>
    <h3>your taste</h3>
    <br />
    <p>
      Discover delectable cuisine and unforgettable moments in our welcoming,
      culinary haven.
    </p>
    <br />
    <div class="btns">
      <a
        href="/book-table"
        style="background-color: #ad343e; border: none; color: white"
        class="bn3637 bn37"
        >Book A Table</a
      >
      <a routerLink="/menu" class="bn3637 bn37">Explore Menu</a>
    </div>
  </div>
</main>

<!-- ////////////////////////////////////////////////////////////////////////////// -->

<div class="sec-main">
  <div class="content">
    <header>Browse Our Menu</header>
  </div>
  <div class="sec">
    <section class="sections">
      <img src="./images/coffe.png" alt="" srcset="" />
      <h2>Breacfast</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a routerLink="/menu">Explore Menu</a>
    </section>
    <section class="sections">
      <img src="./images/dish.png" alt="" srcset="" />
      <h2>Main Dishes</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a routerLink="/menu">Explore Menu</a>
    </section>
    <section class="sections">
      <img src="./images/drink.png" alt="" srcset="" />
      <h2>Drinks</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a routerLink="/menu">Explore Menu</a>
    </section>
    <section class="sections">
      <img src="./images/desert.png" alt="" srcset="" />
      <h2>Desserts</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a routerLink="/menu">Explore Menu</a>
    </section>
  </div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->

<div class="third-main">
  <div>
    <img class="imagee" src="./images/visit.png" alt="" srcset="" />
  </div>
  <div class="information">
    <header>We provide healthy for your family</header>
    <p>
      Our story began with a vision to create a unique dining experience that
      merges fine dining, exceptional service, and a vibrant ambiance. Rooted in
      city's rich culinary culture, we aim to honor our local roots while
      infusing a global palate.
    </p>
    <p class="d">
      At place, we believe that dining is not just about food, but also about
      the overall experience. Our staff, renowned for their warmth and
      dedication, strives to make every visit an unforgettable event.
    </p>
    <a routerLink="/contact" class="bn3637 bn37">More About Us</a>
  </div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->

<div class="forth-main">
  <div class="titlee">
    <header>We also offer unique services for your events</header>
  </div>
  <div class="seccc">
    <section class="sections">
      <img src="./images/kebab.png" alt="" srcset="" />
      <h2>Caterings</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
    <section class="sections">
      <img src="./images/birthday.png" alt="" srcset="" />
      <h2>Birthdays</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
    <section class="sections">
      <img src="./images/wedding.png" alt="" srcset="" />
      <h2>Weddings</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
    <section class="sections">
      <img src="./images/events.png" alt="" srcset="" />
      <h2>Events</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

<div class="fifth-main">
  <img class="one" src="./images/4444.png" alt="" srcset="" />
  <div class="bla">
    <header>Fastest Food Delivery in City</header>
    <p>
      Our visual designer lets you quickly and of drag a down your way to
      customapps for both keep desktop.
    </p>
    <img class="two" src="./images/444.png" alt="" srcset="" />
  </div>
</div>
