<div class="top"></div>
<main>
  <div class="info">
    <h3>Best food for</h3>
    <h3>your taste</h3>
    <br />
    <p>
      Discover delectable cuisine and unforgettable moments in our welcoming,
      culinary haven.
    </p>
    <br />
    <div class="btns">
      <a
        (click)="scrollToTop()" 
        routerLink="/register"
        style="background-color: #ad343e; border: none; color: white"
        class="bn3637 bn37"
        >Register</a
      >
      <a (click)="scrollToTop()"  routerLink="/menu" class="bn3637 bn37">Explore Menu</a>
    </div>
  </div>
</main>

<!-- ////////////////////////////////////////////////////////////////////////////// -->

<div class="sec-main">
  <div class="content">
    <header>Browse Our Menu</header>
  </div>
  <div class="sec">
    <section class="sections">
      <img src="./images/coffe.png" alt="" srcset="" />
      <h2>Breacfast</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a (click)="scrollToTop()" routerLink="/menu">Explore Menu</a>
    </section>
    <section class="sections">
      <img src="./images/dish.png" alt="" srcset="" />
      <h2>Main Dishes</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a (click)="scrollToTop()" routerLink="/menu">Explore Menu</a>
    </section>
    <section class="sections">
      <img src="./images/drink.png" alt="" srcset="" />
      <h2>Drinks</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a (click)="scrollToTop()" routerLink="/menu">Explore Menu</a>
    </section>
    <section class="sections">
      <img src="./images/desert.png" alt="" srcset="" />
      <h2>Desserts</h2>
      <p>
        In the new era of technology we look in the future with certainty and
        pride for our life.
      </p>
      <a (click)="scrollToTop()" routerLink="/menu">Explore Menu</a>
    </section>
  </div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->

<div class="third-main">
  <div>
    <img class="imagee" src="./images/visit.png" alt="" srcset="" />
  </div>
  <div class="information">
    <header>We provide healthy for your family</header>
    <p>
      Our story began with a vision to create a unique dining experience that
      merges fine dining, exceptional service, and a vibrant ambiance. Rooted in
      city's rich culinary culture, we aim to honor our local roots while
      infusing a global palate.
    </p>
    <p class="d">
      At place, we believe that dining is not just about food, but also about
      the overall experience. Our staff, renowned for their warmth and
      dedication, strives to make every visit an unforgettable event.
    </p>
    <a (click)="scrollToTop()"  routerLink="/contact" class="bn3637 bn37">More About Us</a>
  </div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////// -->

<div class="forth-main">
  <div class="titlee">
    <header>We also offer unique services for your events</header>
  </div>
  <div class="seccc">
    <section class="sections">
      <img src="./images/kebab.png" alt="" srcset="" />
      <h2>Caterings</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
    <section class="sections">
      <img src="./images/birthday.png" alt="" srcset="" />
      <h2>Birthdays</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
    <section class="sections">
      <img src="./images/wedding.png" alt="" srcset="" />
      <h2>Weddings</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
    <section class="sections">
      <img src="./images/events.png" alt="" srcset="" />
      <h2>Events</h2>
      <p>
        In the new era of technology we look in the future with certainty for
        life.
      </p>
    </section>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////////// -->

<div class="fifth-main">
  <img class="one" src="./images/4444.png" alt="" srcset="" />
  <div class="bla">
    <header>Fastest Food Delivery in City</header>
    <p>
      Our visual designer lets you quickly and of drag a down your way to
      customapps for both keep desktop.
    </p>
    <img class="two" src="./images/444.png" alt="" srcset="" />
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////// -->

<div class="six-main">
  <header>What Our Customers Say</header>
  <div class="opinions">
    <section class="talk">
      <h2>“The best restaurant”</h2>
      <p>
        Last night, we dined at place and were simply blown away. From the
        moment we stepped in, we were enveloped in an inviting atmosphere and
        greeted with warm smiles.
      </p>
      <hr />
      <div class="sora">
        <img style="width: 70px" src="./images/sop.png" alt="" srcset="" />
        <div>
          <h3 style="color: #2c2f24">Sophire Robson</h3>
          <h5 style="color: #414536">Los Angeles, CA</h5>
        </div>
      </div>
    </section>
    <section class="talk">
      <h2>“Simply delicious”</h2>
      <p>
        Place exceeded my expectations on all fronts. The ambiance was cozy and
        relaxed, making it a perfect venue for our anniversary dinner. Each dish
        was prepared and beautifully presented.
      </p>
      <hr />
      <div class="sora">
        <img style="width: 70px" src="./images/matt.png" alt="" srcset="" />
        <div>
          <h3 style="color: #2c2f24">Matt Cannon</h3>
          <h5 style="color: #414536">San Diego, CA</h5>
        </div>
      </div>
    </section>
    <section class="talk">
      <h2>“One of a kind restaurant”</h2>
      <p>
        The culinary experience at place is first to none. The atmosphere is
        vibrant, the food - nothing short of extraordinary. The food was the
        highlight of our evening. Highly recommended.
      </p>
      <hr />
      <div class="sora">
        <img style="width: 70px" src="./images/andy.png" alt="" srcset="" />
        <div>
          <h3 style="color: #2c2f24">Andy Smith</h3>
          <h5 style="color: #414536">San Francisco, CA</h5>
        </div>
      </div>
    </section>
  </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->


  <div class="seven-main">
    <div class="top">
      <header>Our Blog & Articles</header>
      <a (click)="scrollToTop()"   routerLink="/pages"class="bn3637 bn37"
      style="background-color: #ad343e; border: none; color: white">Read All Articles</a>
    </div>
    <div class="down">
      <div class="main-section">
        <img src="./images/burger.png" alt="">
        <div class="klam">
          <h6 class="date">January 3, 2023</h6>
          <h5 style="font-size: 20px;">The secret tips & tricks to prepare a perfect burger & pizza for our customers</h5>
          <h6 style="font-size: 12px;" >Lorem ipsum dolor sit amet consectetur of a adipiscing elitilmim semper adipiscing 
            massa gravida nisi cras enim quis nibholm varius amet gravida ut facilisis neque egestas.</h6>
        </div>
      </div>




      <div class="containers">
        <div class="notmain-section">
          <img src="./images/fries.png" alt="">
          <div class="klam">
            <h6 class="date">January 3, 2023</h6>
            <h5>How to prepare the perfect french fries in an air fryer</h5>
          </div>
        </div>
        <div class="notmain-section">
          <img src="./images/strips.png" alt="">
          <div class="klam">
            <h6 class="date">January 3, 2023</h6>
            <h5>How to prepare delicious chicken tenders</h5>
          </div>
        </div>
        <div class="notmain-section">
          <img src="./images/cupcake.png" alt="">
          <div class="klam">
            <h6 class="date">January 3, 2023</h6>
            <h5>7 delicious cheesecake recipes you can prepare</h5>
          </div>
        </div>
        <div class="notmain-section">
          <img src="./images/pizzas.png" alt="">
          <div class="klam">
            <h6 class="date">January 3, 2023</h6>
            <h5>5 great pizza restaurants you should visit this city</h5>
          </div>
        </div>
      </div>
    </div>
  </div>