<main>
  <header>Book A Table</header>
  <p>
    We consider all the drivers of change gives you the components you need to
    change to create a truly happens.
  </p>

  <div class="form-container">
    <form>
      <div class="vv">
        <div class="input-group">
          <label for="date">Date</label>
          <input type="date" id="date" placeholder="04/01/2021" />
        </div>
        <div class="input-group">
          <label for="time">Time</label>
          <input type="time" id="time" value="18:30" />
        </div>
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Enter your name" />
        </div>
        <div class="input-group">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" placeholder="X-XXX-XXX-XXXX" />
        </div>
      </div>
      <div class="input-group">
        <label for="total-person">Total Person</label>
        <select id="total-person">
          <option>1 Person</option>
          <option>2 Persons</option>
          <option>3 Persons</option>
        </select>
      </div>
      <button type="submit">Book A Table</button>
    </form>
  </div>
</main>
<div class="map"></div>
